<tr>
  <td><%= notification.title %></td>
  <td><%= strip_tags(notification.content).try(:first, 50) %></td>
  <td><%= notification.status %></td>
  <td><%= link_to '編集', edit_admin_notification_path(notification.id), class: 'btn btn-primary' %></td>
</tr>
