<div class='main-row'>
  <div class='col-sm-3'></div>

  <div id="notification">
    <div class="title">
      <h1><%= @notification.title || "" %></h1>
    </div>

    <%= @notification.content.try(:html_safe) %>

  <div class='col-sm-2'></div>
</div>
