<div id="blog-show">

  <div class="container top-title">
    <h2 class="title-ja">ブログ</h2>
    <p class="title-en">BLOG</p>
  </div>

  <div class="blog">
    <div class="container">
      <div class="blog-title">
        <h1><%= @blog.title %></h1>
      </div>

      <div class="blog-date">
        <span class="cat-tag">にこにこBLOG</span>
        <span class="date"><%= @blog.updated_at.strftime("%Y/%m/%d")  %></span>
      </div>

      <div class='eyecatch'>
        <%= image_tag @blog.image.blank? ? "/assets/logo_medium.png" : @blog.image %>
      </div>

      <div class="blog-content">
        <%= @blog.content.try(:html_safe) %>
      </div>

    </div>
  </div>
</div>
