<div id="cases">
  <div class="container top-title">
    <h2 class="title-ja">捻挫・打撲</h2>
  </div>

  <div id="explanation">
    <div class="container">
      <h2 class="grayhead">捻挫・打撲とは</h2>
      <div class="col-md-5 col-sm-5 col-xs-12 col-md-push-7"><%= image_tag 'kega-thumb.jpg' %></div>
      <p class="col-md-7 col-sm-7 col-xs-12 col-md-pull-5 wow slideInLeft">
        捻挫とは、スポーツ中のアクシデントや日常生活で転倒したときなどに、関節に運動範囲以上の負荷がかかったときに起きる外傷です。手首や足首などの関節がねじれることで、ときには骨や靱帯が傷つき、部分的に切れてしまうこともあります。<br/>
        打撲は、転倒や何かにぶつかるなどした場合に起きる組織損傷、言わゆる「打ち身」のことです。多くのケースでは傷口はありません。 頭部の打撲の場合で10～20分から数時間のうちに意識障害や手足に麻痺が見られる場合は「頭蓋内出血」の疑いがあります。少しでも吐き気や頭痛があれば、すぐに医療機関へ連絡する必要があります。<br/>
        胸部を打撲し、深呼吸などで強い痛みを感じれば「肋骨骨折」や「胸部骨折」の可能性があります。
      </p>
    </div>
  </div>

  <div id="how-to">
    <div class="container">
      <h2 class="grayhead">治療法</h2>
      <p>
        捻挫の多くは軽度のものですが、正しい処置をしなかったために重症化してしまうケースもあります。軽度の捻挫には、「スポーツ障害の対処法」でも紹介した※「RICE」が効果的です。「RICE」は手足などの軽度の打撲にも有効ですが、「打撲の症状」でご紹介したような危険性があるときは、医療機関での受診をおすすめします。また脱臼を起こした場合には、患部を固定して冷やしたまま、早めに専門医、接骨院、整形外科に行って診療してもらいましょう。治療を中断したり、固定期間が不足したりすると、ごくわずかな力が加わっただけでも簡単に脱臼を繰り返す場合がありますので、治療にはじっくり取り組みましょう。
      </p>
    </div>
  </div>
</div>
