<div id="cases">
  <div class="container top-title">
    <h2 class="title-ja">肩こり</h2>
  </div>

  <div id="explanation">
    <div class="container">
      <h2 class="grayhead">肩こりとは</h2>
      <div class="col-md-5 col-sm-5 col-xs-12 col-md-push-7"><%= image_tag 'katakori-thumb.jpg' %></div>
      <p class="col-md-7 col-sm-7 col-xs-12 col-md-pull-5 wow slideInLeft">
        肩こりとは筋肉・骨・神経などが原因になって肩に痛みが生じる症状のことです。多くの場合は背骨のゆがみ(姿勢の崩れ)から筋肉が圧迫を受けて 血行不良により肩が凝っています。
        肩こりを放っておくと頭痛や吐き気、眼精疲労などの症状を引き起こすこともあります。
      </p>
    </div>
  </div>

  <div id="how-to">
    <div class="container">
      <h2 class="grayhead">治療法</h2>
      <p>
        当院では痛みの原因である背骨や骨盤の歪みを骨盤調整によって治療していきます。硬くなってしまった筋肉をほぐすために手技で血流を改善させるなど、速効性のある施術も行います。
      </p>
    </div>
  </div>
</div>
