@import 'loader';

#footer {
  margin-top:-80px;
  padding-top:80px;

  @include bp(mobile) {
    margin-top:-40px;
    padding-top:40px;
  }

  .clinics {
    .clinic {
      margin-bottom: 20px;
      iframe {
        width: 100%;
        height: 300px;
      }

      table {
        width: 100%;
        tr {
          th {
            background-color: $lightGrayBg;
          }

          th,td {
            padding: 15px;
            border-color: $lightgray white;
            border-bottom: 1px solid $lightgray;
          }
        }
      }
    }
  }

  .copyright {
    text-align: center;
    padding: 3px 0;
    margin-top: 1px solid $lightgray;
    color: white;
    background-color: $themeColor;
    p {
      font-size: 9px;
      margin: 0;
    }
  }
}
