@import 'loader';

#header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid $lightgray;
  z-index: 999;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;

  .header-content {
    max-width: 960px;
    margin: auto;

    @include bp(mobile) {
      width: 100%;
      display: -webkit-flex;
      display: flex;
    }


    #site-logo {
      display: flex;
      margin: 0;
      line-height: 2;
      font-family: "Limelight", cursive;

      @include bp(mobile) {
        margin-right: auto;
      }

      .link-to-root {
        display: flex;
        color: black;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;

        img {
          height: 70px;
          width: 70px;
          padding-right: 10px;
          -moz-transition: all 0.3s;
          -o-transition: all 0.3s;
          -webkit-transition: all 0.3s;
          transition: all 0.3s;
          padding-top: 10px;

          @include bp(mobile) {
            height: 50px;
            width: 56px;
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left: 5px;
          }
        }

        h1 {
          font-size: 30px;
          -moz-transition: all 0.3s;
          -o-transition: all 0.3s;
          -webkit-transition: all 0.3s;
          transition: all 0.3s;
          margin-top: 22px;

          @include bp(mobile) {
            margin: auto;
            font-size: 18px;
          }
        }
      }

      .store-menu-pc {
        @include bp(mobile) {
          display: none;
        }
        padding-left: 40px;

        .store-title {
          font-size: 18px !important;
          font-weight: 200;
          color: #BC8E2D;
        }

        .store-items {
          display: flex;

          .main {
            color: #888888;
            font-size: 14px !important;
            font-weight: 400;
            margin: 0;
          }

          .mini {
            color: $themeColor;
            font-size: 13px !important;
            font-weight: 200;
            margin: -5px 0 0 0;
          }

          .store-item {
            padding: 0 10px 0 10px;
          }

          .store-item + .store-item{
            font-weight: 400;
              border-left: 1px solid #888888;
              padding: 0 10px 0 10px;
          }
        }
      }

      .link-to-access {
        font-size: 15px;
        color: $navGrayText;
        margin: 10px 40px 0 auto;

        .reservation:after {
          content: "\f098";
          padding-left: 5px;
          font-family: FontAwesome;
          margin-right: 10px;
          font-size: 20px;
          position: relative;
          top: 1px;
        }

        .access:after {
          content: "\f05a";
          padding-left: 5px;
          font-family: FontAwesome;
          font-size: 20px;
          color: $themeColor;
          position: relative;
          top: 1px;
        }
      }

      @include bp(mobile) {
        .link-to-access {
          display: none;
        }
      }
    }

    nav {
      * {
        margin: 0;
        padding: 0;
      }

      ul {
        padding-top: 20px;
        display: -webkit-flex;
        display: flex;
        list-style: none;
        @include bp(pc) {
          -moz-transition: all 0.3s;
          -o-transition: all 0.3s;
          -webkit-transition: all 0.3s;
          transition: all 0.3s;
        }

        li {
          position: relative;
          width: 25%;
          text-align: center;
          border-left: 1px solid $lightgray;
        }
        @include bp(pc) {
          li {
            -moz-transition: all 0.3s;
            -o-transition: all 0.3s;
            -webkit-transition: all 0.3s;
            transition: all 0.3s;
          }

          li:hover {
            background-color: #EEEEEE;
          }
        }

        li:nth-of-type(6) {
          border-right: 1px solid $lightgray;
        }

        li:last-child{
          display: none;
        }

        li:nth-child(2) {
          a, .english {
            color: #CE4F4F;
          }
        }
      }

      a {
        display: block;
        width: 100%;
        height: 100%;
        font-size: 17px;
        color: $navGrayText;
        padding-bottom: 20px;
      }

      .english {
        position: absolute;
        top: 25px;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0 auto;
        color: #333333;
        font-size: 11px;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
      }

      .nav_icon {
        display: none;
        width: 28px;
        height: 21px;
        position: relative;
        cursor: pointer;
        top: 10px;
				left: -10px;
      }

      .nav-icon-text {
        font-weight: bold;
        position: absolute;
        font-size: 9px;
        bottom: -16px;
        color: $themeColor;
      }

      .nav_icon .nav-icon-bar {
        background: $themeColor;
        position: absolute;
        left: 0;
        width: 100%;
        height: 3px;
        border-radius: 4px;
      }

      .nav_icon .nav-icon-bar:nth-of-type(1) {
        top: 0;
      }

      .nav_icon .nav-icon-bar:nth-of-type(2) {
        top: 9px;
      }

      .nav_icon .nav-icon-bar:nth-of-type(3) {
        bottom: 0;
      }

      .nav_icon.active .nav-icon-bar:nth-of-type(1) {
        -webkit-transform: translateY(9px) rotate(-45deg);
        transform: translateY(9px) rotate(-45deg);
      }

      .nav_icon.active .nav-icon-bar:nth-of-type(2) {
        display: none;
      }

      .nav_icon.active .nav-icon-bar:nth-of-type(3) {
        -webkit-transform: translateY(-9px) rotate(45deg);
        transform: translateY(-9px) rotate(45deg);
      }

      @include bp(mobile) {
        a{
          padding: 0px;
        }

        .link-to-access {
          display: none;
        }

        .english {
          display: none;
        }

        ul{
          padding-top: 0;
          background-color: $themeColor;
          opacity: 0.9;
          -webkit-flex-direction: column;
          flex-direction: column;
          position: absolute;
          top: 50px;
          left: 0px;
          height: auto;
          width: 100%;
          z-index: -1;
          display: none;

          li{
            padding: 5px 0;
            width: 100%;
            margin: auto;
            text-align: center;
            border-left: none !important;
          }

          li:last-child{
            display: block !important;
          }

          a {
            color: white;
          }

          li:nth-child(2) {
            a {
              color: white;
            }
          }
        }

        .nav_icon,
        .nav_icon .nav-icon-bar {
            display: inline-block;
            transition: all .4s;
            box-sizing: border-box;
            z-index: 999;
        }
      }
    }
  }
}

.store-menu-mb {
  @include bp(pc) {
    display: none;
  }
  margin-top: 50px;
  text-align: center;

  .store-title {
    font-size: 13px !important;
    font-weight: 200;
    color: #BC8E2D;
  }

  .store-items {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;

    .main {
      color: #888888;
      font-size: 12px !important;
      font-weight: 400;
      margin: 0;
    }

    .mini {
      color: $themeColor;
      font-size: 11px !important;
      font-weight: 200;
      margin: -5px 0 0 0;
    }

    .store-item {
      text-align: center;
      display: inline-block;
      padding: 0 10px 0 10px;
    }

    .store-item + .store-item{
      font-weight: 400;
        border-left: 1px solid #888888;
        padding: 0 10px 0 10px;
    }
  }
}

@include bp(pc) {
  #header.smaller {
   background-color: rgba(255,255,255,0.95);

   #site-logo {
      img {
        height: 45px !important;
        width: 45px !important;
      }

      h1 {
        font-size: 24px !important;
        color: #34CDD7;
        margin-top: 14px !important;
      }
    }

    nav ul {
      padding-top: 0;

      a {
        padding-bottom: 5px;
      }
    }

    .english {
      display: none;
    }
  }
}
