<div id="footer">
  <div class="clinics">
    <div class="container">
      <div class="row">
        <h2 class="grayhead">グループ整骨院のご案内</h2>
          <div class="clinic col-md-6">
          <h3>にこにこ鍼灸整骨院</h3>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1535.0887252869818!2d140.1009575571055!3d39.690713979456156!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5f8fc3a116faa707%3A0x805a876251b1ef16!2z44CSMDEwLTAwNjUg56eL55Sw55yM56eL55Sw5biC6Iyo5bO277yX5LiB55uu77yU4oiS77yS77yW!5e0!3m2!1sja!2sjp!4v1511833253532" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
          <table>
            <tr>
              <th>アクセス</th>
              <td>秋田県秋田市茨島7-4-26</td>
            </tr>
            <tr>
              <th>予約・お問い合わせ</th>
              <td><a href="tel:0188747530">018-874-7530</a></td>
            </tr>
            <tr>
              <th>診察時間</th>
              <td><p>【月〜金】</p><p>8：30～12：00</p><p>15:00〜19:00</p></td>
            </tr>
            <tr>
              <th>定休日</th>
              <td>土曜日・日曜日</td>
            </tr>
          </table>
        </div>

        <div class="clinic col-md-6">
          <h3>にこにこ整骨院</h3>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1539.8626268003488!2d140.45778545710056!3d39.47553517948577!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5f8fa14007194417%3A0xf795c134c981092!2z44CSMDE0LTAwMDUg56eL55Sw55yM5aSn5LuZ5biC6Iqx6aSo5p-z55S677yR4oiS77yT77yV!5e0!3m2!1sja!2sjp!4v1511833192361" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
          <table>
            <tr>
              <th>アクセス</th>
              <td>秋田県大仙市花館柳町1-35</td>
            </tr>
            <tr>
              <th>予約・お問い合わせ</th>
              <td><a href="tel:0187735280 ">0187-73-5280</a></td>
            </tr>
            <tr>
              <th>診察時間</th>
              <td><p>【月〜金】</p><p>8：00～11：30</p><p>14:30〜18:30</p></td>
            </tr>
            <tr>
              <th>定休日</th>
              <td>土曜日・日曜日</td>
            </tr>
          </table>
        </div>

        <div class="clinic col-md-6">
          <h3>すがわら整骨院</h3>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1540.1056776205028!2d140.47462005710028!3d39.46455367948709!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5f8fa12038f779b9%3A0xb9bbfa36288564f!2z44CSMDE0LTAwMTQg56eL55Sw55yM5aSn5LuZ5biC5aSn5puy56aP5L2P55S677yW4oiS77yS77yQ!5e0!3m2!1sja!2sjp!4v1511833286166" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
          <table>
            <tr>
              <th>アクセス</th>
              <td>秋田県大仙市大曲福住町6-20</td>
            </tr>
            <tr>
              <th>予約・お問い合わせ</th>
              <td><a href="tel:0187638682">0187-63-8682</a></td>
            </tr>
            <tr>
              <th>診察時間</th>
              <td>
                <p>【月〜金】</p><p>8：30～12：00</p><p>15:00〜19:00</p>
                <p>【土】</p><p>8：30～12：00</p>
              </td>
            </tr>
            <tr>
              <th>定休日</th>
              <td>日曜日・祝日</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="copyright">
    <p>Copyright にこにこグループ整骨院  All Rights Reserved. 無断転載禁止</p>
  </div>
</div>
