<div id="cases">
  <div class="container top-title">
    <h2 class="title-ja">ギックリ腰</h2>
  </div>

  <div id="explanation">
    <div class="container">
      <h2 class="grayhead">ギックリ腰とは</h2>
      <div class="col-md-5 col-sm-5 col-xs-12 col-md-push-7"><%= image_tag 'gikkuri.png' %></div>
      <p class="col-md-7 col-sm-7 col-xs-12 col-md-pull-5 wow slideInLeft">
        突然起こり、痛みで動けず大変な思いをするぎっくり腰は、ゴムで言うと古くなって伸縮性が無くなってしまったのと同じ状態に筋肉がなっているために起こります。<br/>使っている筋肉に対してきちんとケアが出来ていないため、柔軟性がなくなってしまっており、軽い動作で筋肉の表面の膜に傷がついてしまうのです。
      </p>
    </div>
  </div>

  <div id="how-to">
    <div class="container">
      <h2 class="grayhead">治療法</h2>
      <p>
        捻挫の多くは軽度のものですが、正しい処置をしなかったために重症化してしまうケースもあります。軽度の捻挫には、「スポーツ障害の対処法」でも紹介した※「RICE」が効果的です。「RICE」は手足などの軽度の打撲にも有効ですが、「打撲の症状」でご紹介したような危険性があるときは、医療機関での受診をおすすめします。また脱臼を起こした場合には、患部を固定して冷やしたまま、早めに専門医、接骨院、整形外科に行って診療してもらいましょう。治療を中断したり、固定期間が不足したりすると、ごくわずかな力が加わっただけでも簡単に脱臼を繰り返す場合がありますので、治療にはじっくり取り組みましょう。
      </p>
    </div>
  </div>
</div>
