<div id="cases">
  <div class="container top-title">
    <h2 class="title-ja">捻挫・打撲</h2>
  </div>

  <div id="explanation">
    <div class="container">
      <h2 class="grayhead"></h2>
      <p>
        あいうおえ
      </p>
    </div>
  </div>

  <div id="how-to">
    <div class="container">
      <h2 class="grayhead">トレーナー提携</h2>
      <p>
        あいうお
      </p>
    </div>
  </div>
</div>
