<div id="diagnosis">

  <div class="container top-image">
    <div class="row top-image-layer">
      <h2 class="top-image-title">診療案内</h2>
      <p class="title-en">DIAGNOSIS</p>
    </div>
  </div>

  <div class="introduction">
    <div class="container">
      <div class="row">
        <h2 class="grayhead">初めての方へ</h2>
      </div>
    </div>
  </div>

  <div class="time-table">
    <div class="container">
      <div class="row">
        <h2 class="grayhead">診察時間</h2>
        <table>
          <thead>
            <tr>
              <th class="col-md-4 col-sm-4 col-xs-4">にこにこ鍼灸整骨院</th>
              <td class="col-md-4 col-sm-4 col-xs-4">月〜金</td>
              <td class="col-md-3 col-sm-3 col-xs-3">土</td>
              <td class="col-md-1 col-sm-1 col-xs-1">日</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th class="col-md-4 col-sm-4 col-xs-4">午前の部</th>
              <td class="col-md-4 col-sm-4 col-xs-4">8:30~12:00</td>
              <td class="col-md-3 col-sm-3 col-xs-3">✕</td>
              <td class="col-md-1 col-sm-1 col-xs-1">✕</td>
            </tr>

            <tr>
              <th class="col-md-4 col-sm-4 col-xs-4">午後の部</th>
              <td class="col-md-4 col-sm-4 col-xs-4">15:00〜19:00</td>
              <td class="col-md-3 col-sm-3 col-xs-3">✕</td>
              <td class="col-md-1 col-sm-1 col-xs-1">✕</td>
            </tr>
          </tbody>
        </table>

        <table>
          <thead>
            <tr>
              <th class="col-md-4 col-sm-4 col-xs-4">にこにこ整骨院</th>
              <td class="col-md-4 col-sm-4 col-xs-4">月〜金</td>
              <td class="col-md-3 col-sm-3 col-xs-3">土</td>
              <td class="col-md-1 col-sm-1 col-xs-1">日</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th class="col-md-4 col-sm-4 col-xs-4">午前の部</th>
              <td class="col-md-4 col-sm-4 col-xs-4">8:30~12:00</td>
              <td class="col-md-3 col-sm-3 col-xs-3">✕</td>
              <td class="col-md-1 col-sm-1 col-xs-1">✕</td>
            </tr>

            <tr>
              <th class="col-md-4 col-sm-4 col-xs-4">午後の部</th>
              <td class="col-md-4 col-sm-4 col-xs-4">14:30〜18:30</td>
              <td class="col-md-3 col-sm-3 col-xs-3">✕</td>
              <td class="col-md-1 col-sm-1 col-xs-1">✕</td>
            </tr>
          </tbody>
        </table>

        <table>
          <thead>
            <tr>
              <th class="col-md-4 col-sm-4 col-xs-4">すがわら整骨院</th>
              <td class="col-md-4 col-sm-4 col-xs-4">月〜金</td>
              <td class="col-md-3 col-sm-3 col-xs-3">土</td>
              <td class="col-md-1 col-sm-1 col-xs-1">日</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th class="col-md-4 col-sm-4 col-xs-4">午前の部</th>
              <td class="col-md-4 col-sm-4 col-xs-4">8:30~12:00</td>
              <td class="col-md-3 col-sm-3 col-xs-3">8:30~12:00</td>
              <td class="col-md-1 col-sm-1 col-xs-1">✕</td>
            </tr>

            <tr>
              <th class="col-md-4 col-sm-4 col-xs-4">午後の部</th>
              <td class="col-md-4 col-sm-4 col-xs-4">15:00〜19:00</td>
              <td class="col-md-3 col-sm-3 col-xs-3">✕</td>
              <td class="col-md-1 col-sm-1 col-xs-1">✕</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="flow-chart flow-of-treatment">
    <div class="container">
      <h2 class="grayhead">施術の流れ</h2>
      <div class="steps">
        <div class="step row">
          <div class="number col-md-1 col-sm-1 col-xs-1">1.</div>
          <div class="content col-md-11 col-sm-11 col-xs-11">
            <p class="title">問診</p>
            <p>ああああ</p>
          </div>
        </div>
        <div class="step row">
          <div class="number col-md-1 col-sm-1 col-xs-1">2.</div>
          <div class="content col-md-11 col-sm-11 col-xs-11">
            <p class="title">問診</p>
            <p>ああああ</p>
          </div>
        </div>
        <div class="step row">
          <div class="number col-md-1 col-sm-1 col-xs-1">3.</div>
          <div class="content col-md-11 col-sm-11 col-xs-11">
            <p class="title">問診</p>
            <p>ああああ</p>
          </div>
        </div>
        <div class="step row">
          <div class="number col-md-1 col-sm-1 col-xs-1">4.</div>
          <div class="content col-md-11 col-sm-11 col-xs-11">
            <p class="title">問診</p>
            <p>ああああ</p>
          </div>
        </div>
        <div class="step row">
          <div class="number col-md-1 col-sm-1 col-xs-1">5.</div>
          <div class="content col-md-11 col-sm-11 col-xs-11">
            <p class="title">問診</p>
            <p>ああああ</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="price">
    <div class="container">
      <div class="row">
        <h2 class="grayhead">料金のご案内</h2>
        <h3>交通事故治療の場合</h3>
        <table>
          <tr>
            <th>初診</th>
            <td>0円</td>
          </tr>
          <tr>
            <th>2回目以降</th>
            <td>0円</td>
          </tr>
        </table>

        <h3>訪問マッサージの場合</h3>
        <table>
          <tr>
            <th>健康保険適用1割負担の方</th>
            <td>300~600円/回</td>
          </tr>
          <tr>
            <th>身体障害者手帳をお持ちの方</th>
            <td>0円</td>
          </tr>
        </table>

        <h3>その他の治療</h3>
        <table>
          <tr>
            <th>筋肉調整</th>
            <td>300~1,000円</td>
          </tr>
          <tr>
            <th>骨盤調整</th>
            <td>1,500円</td>
          </tr>
          <tr>
            <th>肩こり調整</th>
            <td>1,500円</td>
          </tr>
          <tr>
            <th>巻き爪治療</th>
            <td>5,400~6,480円/指</td>
          </tr>
          <tr>
            <th>鍼治療</th>
            <td>100円/本</td>
          </tr>
          <tr>
            <th>足ツボ</th>
            <td>500円</td>
          </tr>
          <tr>
            <th>超音波治療</th>
            <td>500円</td>
          </tr>
          <tr>
            <th>脳ツボ</th>
            <td>500円</td>
          </tr>
          <tr>
            <th>外反母趾治療</th>
            <td>1,000〜2,000円</td>
          </tr>
          <tr>
            <th>巻き爪治療</th>
            <td>5,400~6,480円/指</td>
          </tr>
          <tr>
            <th>レーザー</th>
            <td>0円</td>
          </tr>
          <tr>
            <th>エコー</th>
            <td>0円</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="visit-treatment">
    <div class="container">
      <div class="row">
        <h2 class="grayhead">訪問マッサージ</h2>
        <h3>対象となる方</h3>
        <p>歩行が困難な方、歩行介助が必要な方、脳梗塞等の後遺症で手や足にマヒがある方、退院後もリハビリが必要な方、等。</p>
        <p>ねたきり防止、関節拘縮の予防、現存機能の維持、床ずれ予防、血液リンパの循環改善、むくみの改善、筋肉痛の緩和、等。</p>

        <h3>ご利用までの流れ</h3>
        <div class="flow-chart">
          <div class="steps">
            <div class="step row">
              <div class="number col-md-1 col-sm-1 col-xs-1">1.</div>
              <div class="content col-md-11 col-sm-11 col-xs-11">
                <p class="title">問診</p>
                <p>ああああ</p>
              </div>
            </div>
            <div class="step row">
              <div class="number col-md-1 col-sm-1 col-xs-1">2.</div>
              <div class="content col-md-11 col-sm-11 col-xs-11">
                <p class="title">問診</p>
                <p>ああああ</p>
              </div>
            </div>
            <div class="step row">
              <div class="number col-md-1 col-sm-1 col-xs-1">3.</div>
              <div class="content col-md-11 col-sm-11 col-xs-11">
                <p class="title">問診</p>
                <p>ああああ</p>
              </div>
            </div>
            <div class="step row">
              <div class="number col-md-1 col-sm-1 col-xs-1">4.</div>
              <div class="content col-md-11 col-sm-11 col-xs-11">
                <p class="title">問診</p>
                <p>ああああ</p>
              </div>
            </div>
            <div class="step row">
              <div class="number col-md-1 col-sm-1 col-xs-1">5.</div>
              <div class="content col-md-11 col-sm-11 col-xs-11">
                <p class="title">問診</p>
                <p>ああああ</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="feature">
    <div class="layer-transparent">
      <div class="container">
        <div class="row">
          <h2 class="grayhead">患者様一人ひとりに寄り添った治療を</h2>
          <p>当グループ整骨院では初診時の聞き取り（問診）を大切にしております。
          そのうえで患者様にあった治療方針や治療期間をご提案させて頂いております。

          特に根拠のある説明を大切にしておりますので、成長期におけるお子様のスポーツ障害などには超音波画像装置を用いご家族様を前に説明させて頂いております。

          必要に応じて整形外科など医療機関をご紹介しております。</p>
        </div>
      </div>
    </div>
  </div>
</div>
