<div id="cases">
  <div class="container top-title">
    <h2 class="title-ja">扁平足</h2>
  </div>

  <div id="explanation">
    <div class="container">
      <h2 class="grayhead">扁平足とは</h2>
      <div class="col-md-5 col-sm-5 col-xs-12 col-md-push-7"><%= image_tag 'henpesoku.jpg' %></div>
      <p class="col-md-7 col-sm-7 col-xs-12 col-md-pull-5 wow slideInLeft">
        扁平足とは足裏のアーチ構造が崩れ、土踏まずがなくなった状態のことです。ただちに歩行に悪影響が出ることありませんが、足に負担がかかりやすくなり、足が疲れやすくなって長時間の歩行が困難になる恐れがあります。<br/>
        女性であれば外反母趾になるリスクが上がったり、スポーツをされている方であれば、足底筋膜炎や膝の怪我にも繋がってきます。
      </p>
    </div>
  </div>

  <div id="how-to">
    <div class="container">
      <h2 class="grayhead">治療法</h2>
      <p>
        当院では必要であればフットプリンター等を用い足のバランス測定やインソールの作成、ストレッチ等を用いた可動域訓練を行います。
      </p>
    </div>
  </div>
</div>
