<div id="cases">
  <div class="container top-title">
    <h2 class="title-ja">外反母趾</h2>
  </div>

  <div id="explanation">
    <div class="container">
      <h2 class="grayhead">外反母趾とは</h2>
      <div class="col-md-5 col-sm-5 col-xs-12 col-md-push-7"><%= image_tag 'gaihanboshi-thumb.png' %></div>
      <p class="col-md-7 col-sm-7 col-xs-12 col-md-pull-5 wow slideInLeft">
        外反母趾とは、足の親指が人差し指の方へと曲がって関節（第一中足趾関節）が変形した症状のことを言います。多くの人が勘違いをしている、足の付け根の骨が出てくることではありません。<br/>
        このような問題があると歩き方や姿勢にも影響しますので、膝痛や腰痛、肩こり、偏頭痛など体のさまざまな箇所に不調をきたします。 体の土台となる足元の歪み、言いかえれば外反母趾を治すことで足の痛みだけでなく体のさまざまな箇所で起こっている症状を改善することができます。
      </p>
    </div>
  </div>

  <div id="how-to">
    <div class="container">
      <h2 class="grayhead">治療法</h2>
      <p>
        当院では、手術はせずに全て手技による独自の矯正によって足のアーチをしっかりと作り直し、体重を支えられる状態を作ることで、外反母趾の辛い痛みから解放出来ます。<br/>
        それには、足の筋肉をすべて柔らかく緩めていくことが最も効果があり、外反母趾が再発しにくくなります。
      </p>
    </div>
  </div>
</div>
