<div id="cases">
  <div class="container top-title">
    <h2 class="title-ja">ひざ痛</h2>
  </div>

  <div id="explanation">
    <div class="container">
      <h2 class="grayhead">ひざ痛とは</h2>
      <div class="col-md-5 col-sm-5 col-xs-12 col-md-push-7"><%= image_tag 'hizatu.jpg' %></div>
      <p class="col-md-7 col-sm-7 col-xs-12 col-md-pull-5 wow slideInLeft">
        膝痛にも様々なタイプがあり、加齢による変形性膝関節症やスポーツなど膝の酷使による痛み、病気や身体の異常が原因の痛みなどタイプに合わせた治療が必要になります。<br/>
        「加齢によるから」「変形しているから」と治療を諦めている方も多いですが、適切な処置をしていく事で痛まない状態にしていくことは可能です。また湿布などのその場しのぎの対処法では改善しないだけでなく、根本原因を放っておくことで痛みが何度も繰り返すばかりか、徐々に悪化していきます。
      </p>
    </div>
  </div>

  <div id="how-to">
    <div class="container">
      <h2 class="grayhead">治療法</h2>
      <p>
        膝の痛みが出ている膝の部分だけではなく、痛みの原因となっている部分を丁寧に探り、筋肉に対するトリガーポイント療法や、より即効性を出すための鍼灸治療、超音波治療器などを組み合わせて膝の痛みにアプローチしていきます。<br/>
        膝痛を早期緩和した次は、痛みの根本的な原因にアプローチしていきます。痛みが緩和しても、体のバランスが崩れていたり、悪い姿勢や骨格の歪みが癖づいている場合は、しばらくすると膝の痛みが戻ってしまいます。<br/>
        膝痛の場合、痛みがある膝をカバーしようとして、骨格に歪みが生じている場合が多くみられますので、身体の土台である骨盤矯正を行います。
      </p>
    </div>
  </div>
</div>
