<div id="cases">
  <div class="container top-title">
    <h2 class="title-ja">腰痛</h2>
  </div>

  <div id="explanation">
    <div class="container">
      <h2 class="grayhead">腰痛とは</h2>
      <div class="col-md-5 col-sm-5 col-xs-12 col-md-push-7"><%= image_tag 'youtu.jpg' %></div>
      <p class="col-md-7 col-sm-7 col-xs-12 col-md-pull-5 wow slideInLeft">
        腰痛、その根本的な原因は、実は「背骨と骨盤のズレ」にあります。 腰は身体の要といわれるように、腰痛になると日常生活に支障をきたすようになります。 軽度の腰痛を放っておくと、悪くなることはあっても良くなることはなかなかありません。<br/>
        腰痛を放って置いて症状がひどくなると、ヘルニアや坐骨神経痛の原因になりますので、痛みが気になったらお早めにご来院ください。
      </p>
    </div>
  </div>

  <div id="how-to">
    <div class="container">
      <h2 class="grayhead">治療法</h2>
      <p>
        腰痛の根本的な原因（背骨と骨盤のズレ）を治療し、骨格矯正と筋肉の深部を治療をし早期回復を促します。土台の骨盤のズレを取りその上にある背骨の歪みを取ることで劇的に症状が改善されます。
      </p>
    </div>
  </div>
</div>
