<div id="cases">
  <div class="container top-title">
    <h2 class="title-ja">肉離れ</h2>
  </div>

  <div id="explanation">
    <div class="container">
      <h2 class="grayhead">肉離れとは</h2>
      <p>
        肉離れとは急激に筋肉（骨格筋）が収縮した結果、筋膜や筋線維の一部が損傷している状態を言い、直接的な外力による「打撲」とは異なります。自家筋力の強力な筋収縮（ちぢむこと）により筋肉の部分断裂がおこる。発生要因として、筋肉の疲労、過去の損傷、ウォーミングアップの不足、急な気候の変化、体調不良、筋力のアンバランス、柔軟性の欠如などが考えられる。また、高所からの着地や、急な走り出し、など、筋肉が働き縮もうとする力と、強制的に伸ばされようとする力が同時に働いた場合に起こり得ます。
      </p>
    </div>
  </div>

  <div id="how-to">
    <div class="container">
      <h2 class="grayhead">治療法</h2>
      <p>
        必要に応じて、固定具や、包帯固定、テーピング処置、高度の捻挫や骨折が疑われる場合などには、ご紹介させていただくことが可能です。また、治療に関しては、より早く日常生活や、競技復活ができるように、スポーツの第一線でご活躍されている方々が実際に怪我の際や、メンテナンスの際、使用されている超音波治療器や高周波治療器を用意しており、ご提案させていただいております。
      </p>
    </div>
  </div>
</div>
