<div id="cases">
  <div class="container top-title">
    <h2 class="title-ja">五十肩</h2>
  </div>

  <div id="explanation">
    <div class="container">
      <h2 class="grayhead">五十肩とは</h2>
      <div class="col-md-5 col-sm-5 col-xs-12 col-md-push-7"><%= image_tag 'gojukata.jpg' %></div>
      <p class="col-md-7 col-sm-7 col-xs-12 col-md-pull-5 wow slideInLeft">
        五十肩とは、肩の周りで炎症が起り、動く範囲が狭くなったものを指します。
        肩関節周りについている筋肉が硬くなってしまうと、本来は十分に伸び縮みして動くはずの角度や方向が制限されてしまいます。その状態で無理に動かそうとすることで、痛みや違和感がでてしまいます。これが四十肩・五十肩の痛みのメカニズムです。<br/>
        日常的に体を動かす習慣がある人はなりにくいと言われておりますので、パソコンの操作や事務作業の多いデスクワークが多い方の方が、肩への負担が大きく発症しやすい傾向にあります。男性よりも女性の方が四十肩・五十肩の方が多いことから、事務員などされている女性の方は特に注意が必要です。
      </p>
    </div>
  </div>

  <div id="how-to">
    <div class="container">
      <h2 class="grayhead">治療法</h2>
      <p>
        当院では、固まってしまった肩関節や、周囲の組織をやわらかくすることを目指して治療を行います。肩甲骨周囲には細かい小さな筋肉がたくさん着いていますので、これらをひとつずつほぐしていきます。<br/>
        また、手技では届かない深部の組織には超音波治療が非常に有効です。肩の痛みに関しては痛みが強い場合は鍼治療にて痛みの緩和を図ります。
      </p>
    </div>
  </div>
</div>
