<div id="cases">
  <div class="container top-title">
    <h2 class="title-ja">姿勢の崩れ</h2>
  </div>

  <div id="explanation">
    <div class="container">
      <h2 class="grayhead">姿勢の崩れとは</h2>
      <div class="col-md-5 col-sm-5 col-xs-12 col-md-push-7"><%= image_tag 'sisei.jpg' %></div>
      <p class="col-md-7 col-sm-7 col-xs-12 col-md-pull-5 wow slideInLeft">
        日常生活での姿勢の悪さが基になり、骨盤・背骨などにゆがみを作っていきます。このゆがみのせいですぐにカラダのどこかが悪くなるわけではありませんが、 何年も同じことを繰り返すことにより、この悪い姿勢が血の巡りを阻害し、慢性的な肩こり・首こり・頭痛や冷え症という困った症状を出やすくさせます。<br/>
        姿勢の崩れは徐々に骨盤がゆがみ、カラダの疲れがなかなか取れない、よく眠れないなどのカラダの不調につながっていきます。
      </p>
    </div>
  </div>

  <div id="how-to">
    <div class="container">
      <h2 class="grayhead">治療法</h2>
      <p>
        当院では骨盤調整や筋肉調整によって歪んでしまった骨格を元に戻し、痛めにくい健康な身体つくりを行います。
      </p>
    </div>
  </div>
</div>
