<div id="cases">
  <div class="container top-title">
    <h2 class="title-ja">姿勢の崩れ</h2>
  </div>

  <div id="explanation">
    <div class="container">
      <h2 class="grayhead">姿勢の崩れとは</h2>
      <div class="col-md-5 col-sm-5 col-xs-12 col-md-push-7"><%= image_tag 'sisei.jpg' %></div>
      <p class="col-md-7 col-sm-7 col-xs-12 col-md-pull-5 wow slideInLeft">
        腱鞘炎は女性に多く、利き手の左右に限らずどちらにでも起こり得る症状です。最近ではスポーツや家事による腱鞘炎だけでなく、職業による腱鞘炎が多くなっています。特にパソコン仕事の方は腱鞘炎に要注意です。ひどい方では腕のしびれや手首や指に痛みを感じる方も多くいます。<br/>
        腱鞘炎は痛いところだけを治療しても長引くだけなので、整体によって肩や腕、さらには首の方から施術を行っていくことが早期改善のカギになります。
      </p>
    </div>
  </div>

  <div id="how-to">
    <div class="container">
      <h2 class="grayhead">治療法</h2>
      <p>
        腱鞘炎は湿布を貼るなどして炎症部分だけを治療しても治りにくいです。当院ではテーピング、電気治療、温熱療法、国家資格者の柔道整復師によるマッサージで緊張を取り除くことで短期間で回復させることも可能です。
      </p>
    </div>
  </div>
</div>
