<div id="recruitment">

  <div class="container top-image">
    <div class="row top-image-layer">
      <h2 class="top-image-title">採用情報</h2>
      <p class="title-en">RECRUITMENT</p>
    </div>
  </div>

  <div class="staff-recruitment">
    <div class="container">
      <h2 class="grayhead">スタッフ募集</h2>
      <h3>将来Jリーグのトップ選手のトレーナーになりたい“志”ある方へ</h3>
      <p>有限会社729（にこにこグループ整骨院）では、J３リーグの「ブラウブリッツ秋田」と業務提携を行っておりまして、柔道整復師の方へ「柔整師にトレーナーの道を拓く」というスローガンを掲げてブラウブリッツ秋田の選手へのトレーナー活動を行っております。</p>
      <div class="youtube">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/Kshio0sRkE8" frameborder="0" allowfullscreen></iframe>
      </div>
      <p>・整骨院に勤務しながらスポーツトレーナーとしてのスキルを身につけたい方。<br><br>
         ・本気でプロチームのスポーツトレーナーを目指したい方。<br><br>
         ・柔整師として治療院でスポーツ外傷の経験を積みたい方。<br><br>
         どんどんご応募をお待ちしております！体験型見学会も随時行っておりますので、詳細はお近くの「にこにこグループ整骨院」までお問い合わせください。
      </p>
    </div>
  </div>

  <div class="recruitment-contents">
    <div class="container">
      <h2 class="grayhead">求人内容</h2>
      <div class="content">
        <h3 class="bluebar">正社員</h3>
        <p>【職種】柔道整復師<br>
          【仕事の内容】<br>
          柔道整復師としての業務に従事していただきます。<br>
          ・マッサージ、テーピング<br>
          ・ストレッチ、トレーナー業務<br>
          ・書類作成、整理<br>
          ・トレーニング指導<br>
          ・健康管理　等<br>
          【必要な免許】柔道整復師<br>
          【給与】180,000円～260,000円（一般職）<br>
          ※３ヶ月間は試用期間で賃金160,000円（未経験者歓迎）<br>
          【就業時間】8：30～19：00(休憩180分)<br>
          【休日】土曜日・日曜日(お正月、お盆、ゴールデンウィーク)<br>
          【交通費】通勤距離により10,000円まで<br>
          【車通勤】駐車場有<br>
          【勤務予定地】秋田県秋田市茨島七丁目4-26　にこにこ鍼灸整骨院<br>
          　　　　　　　秋田県大仙市大曲福住町6-20　すがわら整骨院<br>
          【応募・選考の流れ】1.書類選考　2.面接<br>

          ご応募の際は、事前連絡の上、履歴書を下記までご郵送願います。<br>
          書類選考後、面接の可否等についてご連絡致します。<br>
          問合先　0187-73-7507　　事務局　吉田<br>
          郵送先　〒014-0014　秋田県大仙市大曲福住町6-20　有限会社７２９　事務局　宛
        </p>
      </div>
      <div class="content">
        <h3 class="bluebar">学生インターンシップ</h3>
        <p>【大学/専門学校 就職指導ご担当様へ】<br>
            弊社ではインターンシップ研修や新卒採用を行なっております。<br>
            インターンシッププログラムや採用に関しての対応も会社としてできる限り対応させていただいております。ぜひ下記までお問合せください。<br>

            【お問合せ先】<br>
            電話:0187-73-7507<br>
            メール:2ko2honbu@gmail.com<br>
            事務局　吉田
          </p>
      </div>
    </div>
  </div>
</div>
