<div id="cases">
  <div class="container top-title">
    <h2 class="title-ja">寝違え</h2>
  </div>

  <div id="explanation">
    <div class="container">
      <h2 class="grayhead">寝違えとは</h2>
      <div class="col-md-5 col-sm-5 col-xs-12 col-md-push-7"><%= image_tag 'netigae.jpg' %></div>
      <p class="col-md-7 col-sm-7 col-xs-12 col-md-pull-5 wow slideInLeft">
        寝違えは慣れない枕や高い枕、ソファーなどで変な姿勢で寝てしまった時などに多く見られますが、普段からの姿勢の歪み、 首・肩周辺の背骨の歪みが根本原因となっている場合もあります。<br/>
        寝違いは初期治療が大切です。寝違えて炎症が起こっている首を揉むと、かえって悪化する事になりかねません。もし寝違えになってしまったら無理に動かしたりせず、早めにご来院下さい。
      </p>
    </div>
  </div>

  <div id="how-to">
    <div class="container">
      <h2 class="grayhead">治療法</h2>
      <p>
        首・肩周辺の身体の歪み、背骨や筋肉への調整を行います。ひどい場合では、完全に痛みが取れるまで３週間ぐらいかかることもありますので、寝違えた際にはお早めにご相談ください。
      </p>
    </div>
  </div>
</div>
