<div id="traffic-accident">

  <div class="container top-image">
    <div class="row top-image-layer">
      <h2 class="top-image-title">交通事故治療</h2>
      <p class="title-en">TRAFFIC ACCIDENT</p>
    </div>
  </div>

  <div id="price">
    <div class="container">
      <h2 class="grayhead">治療料金</h2>
      <table>
        <thead>
          <tr>
            <td>初診</td>
            <td>2回目以降</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>0円</td>
            <td>0円</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div id="flow-of-accident">
    <div class="container">
      <h2 class="grayhead">施術の流れ</h2>
      <div class="flow-chart">
        <div class="steps">
          <div class="step row">
            <div class="number col-md-1 col-sm-1 col-xs-2">1.</div>
            <div class="content col-md-11 col-sm-11 col-xs-10">
              <p class="title">にこにこGROUPのお近くの整骨院へお電話して来院下さい</p>
              <p>来院受付、いつご連絡いただいても問題ありません。ご来院の前のみご一報いいだけると受付が可能です。</p>
            </div>
          </div>
          <div class="step row">
            <div class="number col-md-1 col-sm-1 col-xs-2">2.</div>
            <div class="content col-md-11 col-sm-11 col-xs-10">
              <p class="title">保険会社等へ連絡</p>
              <p>相手方の保険会社の担当の方に治療院に通院したい旨を伝え、当院の屋号や住所、電話番号を伝えます。その後、保険会社の担当から当院へ連絡があります。</p>
            </div>
          </div>
          <div class="step row">
            <div class="number col-md-1 col-sm-1 col-xs-2">3.</div>
            <div class="content col-md-11 col-sm-11 col-xs-10">
              <p class="title">問診・検査等を実施</p>
              <p>ご来院後、問診・検査を行います。その後、患者様の今の体の状態と施術方法の説明を行います。</p>
            </div>
          </div>
          <div class="step row">
            <div class="number col-md-1 col-sm-1 col-xs-2">4.</div>
            <div class="content col-md-11 col-sm-11 col-xs-10">
              <p class="title">施術を開始</p>
              <p>説明内容を納得していただいてから施術を行います。</p>
            </div>
          </div>
          <div class="step row">
            <div class="number col-md-1 col-sm-1 col-xs-2">5.</div>
            <div class="content col-md-11 col-sm-11 col-xs-10">
              <p class="title">施術後</p>
              <p>回復するまで、複数回施術させていただきます。回復するまで、保険での治療が受けられます。保険会社に患者様の経過を報告しながら施術を行っていきます。</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="suggest-treatment">
    <div class="layer-transparent">
      <div class="container">
        <h2 class="grayhead">怪我の自覚症状が無くても診察を</h2>
        <p class="wow slideInRight">放って置かないで一度、受診されることをお勧めいたします。
          痛みなどの自覚症状がほとんどない場合には放置される方もおられると思います。<br>
          交通事故にあった初期には、自覚症状がなくても、後から痛みなどを感じられる方が多くおられます。
          交通事故にあわれた場合は、自覚症状がない場合でも、首・腰・膝などに少しでも、普段かからない負荷がかかったと感じられましたら、すぐに適切な医療機関で診察を受けてください。<br>
          また事故にあわれたショックなどで、その時の感覚がよくわからない場合でも、医療機関で受診されることをお勧めいたします。
          痛みを感じる場合には、整形外科等の病院で精密検査、画像診断を受けていただき、その上で特に異常が認められない場合には、治療院での受診をされることをお勧めいたします。<br>
          ※医師からの許可があれば、整形外科等と治療院の両方を受診することも可能です。</p>
      </div>
    </div>
  </div>

  <div id="car-insurance">
    <div class="layer-transparent">
      <div class="container">
        <h2 class="whitehead">自賠責保険</h2>
        <p class="wow slideInLeft">自賠責保険では過失割合にかかわらず、負傷した者は被害者として扱われて相手の自賠責保険から保険金が支払われます。<br>
          ただし、過失割合が70％を超える場合は重過失減額として、過失割合に応じて20～50％の減額が適用されます。<br>
          また、最低限の補償のの確保を目的としているので、保険金の上限が被害者１人につき死亡3,000万円・後遺障害4,000万円・傷害120万円までと、比較的低額になっています。<br>
          補償額の少ない自賠責保険を補うために任意の自動車保険に別途加入することが一般的になっています。</p>
      </div>
    </div>
  </div>

  <div id="consolation-money">
    <div class="container">
      <h2 class="grayhead">治療費と慰謝料</h2>
      <p class="wow fadeInUp">慰謝料とは、交通事故の被害者に対する、心の負担や苦痛を精神的苦痛の損害ととらえ、それを金銭によって払う賠償のことを言います。<br>
         交通事故による怪我の治療で、自賠責保険や任意保険を利用して通院した場合、治療関係費、文書料、休業損害および慰謝料が保険会社(共済)より支払われますので、患者様の負担(治療費)はありません。<br>
         また、ひき逃げにあわれたり相手側が保険未加入の場合でも、特別な補償制度もございますので、ぜひご相談ください。</p>
    </div>
  </div>

  <div id="case-of-uninsured">
    <div class="container">
      <h2 class="grayhead">保険が適用されないケース</h2>
      <p class="wow fadeInUp">交通事故による症状でも、100％被害者の責任で発生した事故(無責事故)については、相手車両の自賠責保険金(共済金)の支払対象外になります。<br>
         具体的には下記のようなケースが当てはまります。<br><br>
         1．被害車両が赤信号無視したことによる事故の場合<br><br>
         2．被害車両が、センターラインをオーバーしたことによる事故の場合<br><br>
         3．追突した側が被害車両の場合</p>
    </div>
  </div>
</div>

<script>
new WOW({
  offset: 200,
  mobile: false,
}).init();
</script>
