$themeColor: #4990E2;
$themeColorLight: #7DC5E3;

$white: #fff;
$black: #333;
$darkgray: #817E81;
$lightgray: #C9C9C9;
$gray: #5e6265;
$bordergray: #eee;
$bggray: #fafafa;
$lightGrayBg: #faf8f5;
$searchBarGray: #eeeeee;
$pink: rgb(255, 160, 160);
$navGrayText: #7F7F7F;
$graytext: #424242;
$lightgraytext: #a3a3a3;
$mainBtn: rgb(255, 52, 129);
$textHighlightSubColor: #0F334D;

$fb: rgb(66, 100, 170);
$tw: #00aced;
$insta: rgb(224, 127, 193);
$reference: rgba(0, 0, 0, 38);

$transparentBlack: rgba(0, 0, 0, .38);

$clear: rgba(0,0,0,0);
