@import 'bp';

@mixin text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin text-title {
  font-size: 14px;
  font-weight: bold;
  padding: 8px 15px;
  position: relative;
  border-left: 3px solid $themeColor;
  margin-bottom: 0px;
  @include bp(mobile) {
    margin-left: 0;
    border-left: 6px solid $themeColor;
  }
}
