@import 'loader';

#blog-index {
  border-bottom: 1px solid $lightgray;

  .highlight-h2 {
    margin-left: 40px;
    padding-left: 10px;
    font-size: 24px;
    color: $graytext;
    border-left: 3px solid #4990E2;
  }

  .container {
    border-left: 1px solid $lightgray;
    border-right: 1px solid $lightgray;
  }

  .top-title {
    border: 1px solid $lightgray;
    border-top:0;
    background-color:	rgba(255,255,255,0.9);
    display: flex;
    align-items: center;
    padding: 0 !important;

    .title-ja {
      margin: 20px 20px;
      font-weight: normal;
    }

    .title-en {
      margin-left: 15px;
      margin-bottom: 0;
    }
  }

  ul {
    list-style: none;

    .blog {
      border-bottom: 1px solid $searchBarGray;
      padding: 13px 0;
      overflow: auto;

      .blog-thumb {
        width: 95px;
        height: 95px;
        float: left;
        background-position: center;
        background-size: cover;
        margin-right: 13px;
        &:hover {
          opacity: 0.7;
        }
      }

      .blog-content {
        height: 95px;
        overflow: hidden;
        padding: 7px 0;
        h3.blog-title {
          margin: 0px 0px 5px;
          font-size: 16px;
          @include text-ellipsis;
          a {
            color: $black;
            &:hover, &:focus {
              opacity: 0.7;
              text-decoration: none;
            }
          }
        }
        .blog-description {
          color: $gray;
          font-size: 12px;
          margin-bottom: 6px;
        }
        .blog-date {
          color: $gray;
          font-size: 13px;
          height: 20px;
        }
      }
    }
  }
}
