@import 'loader';

#about {
  .top-image {
    background-image: asset-url('about-image.jpg') !important;
  }

  .introduction {

    img {
      overflow: hidden;
      object-fit: fill;
      width: 100%;
      max-width: 250px;
      display: block;
      height: auto;
      max-height: 100%;
    }
  }

  .image-slider {
    .slick-slide {
      margin: 0 10px;
      position:relative;
      height: 300px;

      img {
        position:absolute;
        left:0;
        top:0;
        width: 100%;
        height: auto;
        overflow: hidden;
        object-fit: cover;

        @include bp(mobile) {

        }
      }
    }
  }

  .trainer {
    background-image: asset-url('soccer-img.jpg') !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .layer-transparent {
      background-color:		rgba(15,15,118,0.7);

      p {
				top: 0;
				bottom: 0;
				right: 0;
				left: 0;
				margin: auto;
        color: white;
      }
    }
  }
}
