@import 'loader';

p {
	line-height: 27px;
	font-size: 15px;

	@include bp(mobile) {
		font-size: 14px;
		line-height: 25px;
	}
}

h2 {
	font-size: 28px;

	@include bp(mobile) {
		font-size: 23px !important;
		line-height: 32px !important;
	}
}

h3 {
	font-size: 26px;

	@include bp(mobile) {
		font-size: 21px !important;
		line-height: 30px !important;
	}
}

a {
	text-decoration: none !important;
}

a:hover {
  text-decoration: none !important;
}

.bluebar {
  padding-left: 10px;
  color: $graytext;
  border-left: 3px solid #4990E2;
}

.grayhead {
  color: $graytext;
  position: relative;
  text-align: center;
  margin: 30px 40px;
  letter-spacing: 6px;
  font-weight: bold;
  padding-top: 20px;

	@include bp(mobile) {
	  margin: 15px 20px;
	  padding-top: 10px;
	}
}

.grayhead:after {
  background: #969696;
  content: '';
  width: 60px;
  height: 8px;
  position: absolute;
  top: -15px;
  left: 0;
  right: 0;
  margin: auto;

	@include bp(mobile) {
	  width: 40px;
	  height: 5px;
	}
}

.whitehead {
  color: white;
  position: relative;
  text-align: center;
  margin: 30px 40px;
  letter-spacing: 6px;
  font-weight: bold;
  padding-top: 20px;

	@include bp(mobile) {
	  margin: 15px 20px;
	  padding-top: 10px;
	}
}

.whitehead:after {
  background: white;
  content: '';
  width: 60px;
  height: 8px;
  position: absolute;
  top: -15px;
  left: 0;
  right: 0;
  margin: auto;

	@include bp(mobile) {
	  width: 40px;
	  height: 5px;
	}
}

.flow-chart {
  .steps {
    .step {
      border-bottom: 1px solid $lightgray;
      margin-bottom: 20px;
      padding-bottom: 10px;

      .number {
        text-align: center;
        vertical-align: middle;
        height: 100%;
        font-size: 20px;
      }

      .content {
        .title {
          font-size: 18px;
        }
      }
    }

    .step:last-child {
      border-style: none;
    }
  }
}

#top-page {
  #top-img {
    position:relative;
    width: 100%;
    height: 550px;

		img {
	    position:absolute;
	    left:0;
	    top:0;
	    width: 100%;
	    height: auto;
	    max-height: 100%;
	    overflow: hidden;
	    object-fit: cover;
	  }

		.top-image-1 {
			filter: brightness(140%);
		}

		.top-image-3 {
			filter: brightness(120%);
		}

		.messages {

			.message {
				position: absolute;
				font-size: 26px;
				line-height: 50px;
				@include bp(mobile) {
					font-size: 18px;
					line-height: 25px;
				}
			}

			.message-1  {
				color: black;
				text-shadow: 2px 2px 2px gray;
				bottom: 5%;
				left: 5%;
			}

			.message-2 {
				color: black;
				text-shadow: 2px 2px 2px gray;
				bottom: 5%;
				right: 5%;
			}

			.message-3 {
				text-align: center;
				top: 50%;
				left: 50%;
				-ms-transform: translate(-50%,-50%);
				-webkit-transform: translate(-50%,-50%);
				transform: translate(-50%,-50%);

				.message-3-title {
					color: white;
					text-shadow: 2px 2px 2px black;
					font-size: 29px;
					line-height: 45px;
					@include bp(mobile) {
						display: none;
					}
				}

				.message-3-content {
					color: white;
					text-shadow: 2px 2px 2px black;
					font-size: 20px;
					line-height: 28px;
					
					@include bp(mobile) {
						font-size: 18px;
						line-height: 25px;
					}
				}
			}
		}
  }

  .about-clinic {

		.principle {
			margin-top: 25px;
			margin-bottom: 20px;
			padding-bottom: 5px;
			// background: linear-gradient(transparent 60%, $themeColorLight 0%);
		}

    .appeal-points {
      padding-top: 20px;

      .appeal-point {
        max-width: 300px;
        margin: auto;

        .bg {
          background: black;
          position: relative;
					overflow: hidden;

          img {
            width: 100%;
            max-width: 300px;
            height: 170px;
            overflow: hidden;
            object-fit: cover;
            background: black;
            opacity: .6;
						-moz-transition: all 0.3s;
						-o-transition: all 0.3s;
						-webkit-transition: all 0.3s;
						transition: all 0.3s;
          }
          .description {
            color: white;
            position: absolute;
            white-space: nowrap;
            font-size: 18px;
            top: 50%;
            left: 50%;
            -ms-transform: translate(-50%,-50%);
            -webkit-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
            margin:0;
            padding:0;
          }
        }

				.bg:hover img {
					transform: scale(1.1, 1.1);
			    -webkit-transform: scale(1.1, 1.1);
			    -moz-transform: scale(1.1, 1.1);
			    -o-transform: scale(1.1, 1.1);
					opacity: 0.4;
				}
      }
    }
  }

  .notifications {
    align-content: center;
    padding-bottom: 20px;
		@include bp(mobile) {
			padding-bottom: 0;
		}

    .bluebar {
			font-size: 20px !important;
      margin-left: 5%;
			@include bp(mobile) {
				font-size: 15px !important;
				margin-top: 0;
				margin-bottom: 0;
			}
    }
    .box {
      margin: auto;
      border: 1px solid $lightgray;
      overflow: scroll;
      width: 90%;
      max-height: 200px;
      -webkit-overflow-scrolling: touch;
			@include bp(mobile) {
				width: 100%;
				border: none;
			}

      ul {
        list-style: none;
        padding: 10px;
        margin: 0;

        li {
          padding: 5px;
          border-bottom: 1px dotted $lightgray;

					.notification-title {
            padding-left: 15px;
          }

					@include bp(mobile) {
						border-bottom: 1px solid $lightgray;

						.date {
							display: block;
						}

						.notification-title {
	            padding-left: 0;
	          }
					}
        }
      }
    }
  }

  .treatments {
    background: rgba(255,255,0,.1);
    text-align: center;

    .treatment {
      padding-top: 10px;
      padding-bottom: 10px;
			overflow: hidden;

			.treatment-img {
				position: relative;
				border-radius: 50%;

				img {
	        width: 200px;
	        height: 200px;
	        overflow: hidden;
	        object-fit: cover;
	        border-radius: 50%;
					-moz-transition: all 0.3s;
					-o-transition: all 0.3s;
					-webkit-transition: all 0.3s;
					transition: all 0.3s;

					@include bp(mobile) {
						width: 150px;
						height: 150px;
					}
	      }

				.animation-text {
					position: absolute;
					top: 50%;
					left: 50%;
					-ms-transform: translate(-50%,-50%);
					-webkit-transform: translate(-50%,-50%);
					transform: translate(-50%,-50%);
					margin:0;
					padding:0;
					font-size: 22px;
					color: transparent;
					text-shadow: 0 0 5px white;
					-moz-transition: all 0.3s;
					-o-transition: all 0.3s;
					-webkit-transition: all 0.3s;
					transition: all 0.3s;
					opacity: 0;
				}
			}

      .treatment-name {
        color: $themeColor;
        padding-top: 10px;
        font-size: 20px;
        font-weight: bold;

				@include bp(mobile) {
					font-size: 18px;
				}
      }

      .treatment-content {
        color: $graytext;
      }

			a:hover img {
				-webkit-filter: blur(3px) brightness(50%);
				filter: blur(3px) brightness(50%);
				transform: scale(1.1, 1.1);
				-webkit-transform: scale(1.1, 1.1);
				-moz-transform: scale(1.1, 1.1);
				-o-transform: scale(1.1, 1.1);
			}

			a:hover .animation-text {
				text-shadow: none;
				color: white;
				opacity: 1;
			}
    }
  }

  .sports-treatment {
    background-image: asset-url('sports-bg.jpg') !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .layer-transparent {
      background-color:		rgba(15,15,118,0.7);

      p {
				top: 0;
				bottom: 0;
				right: 0;
				left: 0;
				margin: auto;
        color: white;
      }
    }
  }

  .f-questions {
    .question {

      padding-top: 10px;
      padding-bottom: 10px;

      .title {
        font-size: 18px;
        font-weight: bold;
        color: $themeColor
      }

    }
  }
}
