@import 'loader';

#recruitment {

  .top-image {
    background-image: asset-url('recruitment.jpg') !important;
  }

  .staff-recruitment {

    .youtube {
      text-align: center;
    }
  }

  .recruitment-contents {
    background: rgba(67,135,233,.1);
  }
}
