@import 'loader';

#recruitment {

  .top-image {
    background-image: asset-url('recruitment.jpg') !important;
  }

  #staff-recruitment {

    .youtube {
      text-align: center;

      @include bp(mobile) {
        width:100%;
        padding-bottom: 56.25%;
        height:0px;
        position: relative;

        iframe{
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  #recruitment-contents {
    background: rgba(67,135,233,.1);
  }
}
