<tr>
  <td><%= user.email %></td>
  <td><%= user.name %></td>
  <td><%= link_to '削除', "/admin/users/#{user.id}", method: :delete, class: 'btn btn-sm btn-danger', data: {confirm: "本当に削除しますか？"} %></td>
</tr>
