<div class='main-row'>
  <div class='col-sm-3'></div>

  <div id="blog">
    <div class="title">
      <h1><%= @blog.title || "" %></h1>
    </div>

    <%= @blog.content.try(:html_safe) %>

  <div class='col-sm-2'></div>
</div>
